<p style="color: green"><%= notice %></p>

<h1>Articles</h1>

<div id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
    <p>
      <%= link_to "Show this article", article %>
    </p>
  <% end %>
</div>

<%= link_to "New article", new_article_path %>


<div style="margin-top: 30px;">
  <%= cl_image_tag("rvuhjud4oba3qgrwwavh",
      width: 400, height: 300, crop: :fill) %>

  <%= cl_image_tag("rkfekms1j6d28dtn2nmd",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>

  <%= cl_image_tag("rkfekms1j6d28dtn2nmd",
      width: 150, height: 150, crop: :thumb) %>
</div>
